<h1>Sell Your Friends</h1>
<h2>Why not making money by selling your most valuable product: FRIENDSHIP</h2>
<p>Sell your friends is an online market place to sell your friends</p>
<p>You can attribute the value of your friends based on their best qualities</p>
