@import "bootstrap";


body {
	background-color: #F8F8F8;
	color: #333333;
	font-family: helvetica, arial, sans-serif;
}

.navbar-default {
	background-color: #008080;
}

.navbar-default .navbar-brand {
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	color: #FF9933;
	font-size: 18px;
}

.navbar-default .navbar-nav > li > a {
	font-family: helvetica, arial, sans-serif;
	color: #F0FFFF;
	font-size: 14px;
}

.center {
	text-align: center;
}

.col-md-3:nth-child(4n+1){
	clear: left;
}

.col-md-6 {
	h3 {font-size: 40px;}
	h5 {font-size: 25px;}
	p {font-size: 18px;}
}

.caption{
	h3 {
		font-size: 17px;
		margin: 2px;
		}
	p {
		font-size: 14px;
		margin: 0px;
		}
}

.jumbotron {
	background-image: url('https://www.dropbox.com/s/h5590voq9rwj8m0/homepage.jpg?raw=1');
	h1,h2 {
		text-align: center;
		color: #FFFAFA;
		font-family: guardian-egyptt, georgia, serif;
		}
}